/* GLOBAL STYLES */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: whitesmoke;
    height: 100%;
    background-color: #000000;
    height: 100vh;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    height: 500vh;
}


@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


.content-wrapper {
    width: 100vw;
    height: 100vh;
}

/* links */
a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.canvas-container {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    width: 900px;
    margin: auto;
    grid-area: blank;
}

#the-canvas {
    width: 100%;
    height: 100%;
    z-index: 99;
    margin-left: 60px;
    margin-top: -30px;
}

#text {
    position: absolute;
    top: 65vh;
    margin-left: 20px;
    text-align: center;
    text-justify: center;
}

#play-btn {

    position: sticky;
    cursor: pointer;
    background: #000000;
    color: red;
    border: 2px solid rgb(172, 30, 30);
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    display: inline-block;
    padding: 12px;
    letter-spacing: 0.05em;
    line-height: 1;
    width: 40px;
    margin-top: 60px;
    margin-left: 60px;
    transition: left .5s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

#play-btn:hover {
    color: white;
}

#next-btn {

    position: absolute;
    cursor: pointer;
    background: #000000;
    color: red;
    border: 2px solid rgb(172, 30, 30);
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    display: inline-block;
    padding: 12px;
    letter-spacing: 0.05em;
    line-height: 1;
    width: 140px;
    bottom: 5vh;
    right: 5%;
    margin-left: 60px;
    transition: left .5s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

#play-btn:hover {
    color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.click_effect {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 5px solid #ffffff;
    pointer-events: none;
    margin-top: -45px;
    margin-left: -45px;
    border-radius: 50%;
    opacity: 0;
    animation-name: click_animation;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}

@keyframes click_animation {
    0% {
        opacity: 1;
        transform: scale(0.1);
    }

    10% {
        opacity: 1;
        transform: scale(0.2);
    }

    20% {
        opacity: 1;
        transform: scale(0.3);
    }

    30% {
        opacity: 0.9;
        transform: scale(0.4);
    }

    40% {
        opacity: 0.7;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.5;
        transform: scale(0.6);
    }

    60% {
        opacity: 0.3;
        transform: scale(0.7);
    }

    70% {
        opacity: 0.1;
        transform: scale(0.8);
    }

    80% {
        opacity: 0;
        transform: scale(0.9);
    }

    90% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(0.1);
    }
}

#br {
    margin-bottom: 100px;
}

#credits {
    text-align: center;
    bottom: 0px;
}