html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;

}

body {
  background-color: black;
  height: 100vh;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  color: white;
  transition: background-color 1s ease-in-out;
  font-size: 1.4rem;
  line-height: 1.4;
}

.box {
  height: 100vh;
}

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

a {
  color: white;
  text-decoration: none;
}

.hidden {
  display: none;
  opacity: 0;
}

.hidden-text {
  position: absolute;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  max-width: 200px;
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.fish {
  transition: opacity 0.6s ease-out;
  cursor: pointer;
  width: 70px;
  height: 70px;
  transition: opacity 0.6s ease-out;
}

#fish1 {
  position: absolute;
  animation: slide 10s infinite;
  width: 200px;
  top: 10%;
  left: -100%;
}

#fish2 {
  position: absolute;
  animation: slide 6s infinite;
  width: 80px;
  top: 30%;
  right: -100%;
}

#fish3 {
  position: absolute;
  animation: slide 15s infinite;
  width: 100px;
  top: 60%;
  left: -50%;
}

#fish4 {
  position: absolute;
  animation: slide 8.5s infinite;
  width: 150px;
  top: 90%;
  left: -50%;
}

#fish5 {
  position: absolute;
  animation: slide 7s infinite;
  width: 80px;
  top: 110%;
  left: -50%;
}

#fish6 {
  position: absolute;
  animation: slide 12s infinite;
  width: 110px;
  top: 200%;
  left: -50%;
}

#fish7 {
  position: absolute;
  animation: slide 6s infinite;
  width: 80px;
  top: 250%;
  left: -50%;
}

#space {
  position: absolute;
  top: 600%;
}

@keyframes slide {
  0% {
    left: -150%;
  }

  35% {
    left: 100%;
  }

  65% {
    left: 80%;
  }

  80% {
    left: 30%
  }

  100% {
    left: 150%;
  }
}

/* Button */
#btn-container {
  margin-top: 0vh;
  width: 2vw;
  height: auto;
}

#btn1 {
  position: fixed;
  left: 0;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  color: white;
  left: 4%;
  top: 60%;
  border-radius: 500px;
  height: 33.3%;
  width: 18%;
  cursor: pointer;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 49px;
  font-weight: 400;
  line-height: 70px;
}

#btn1:hover {
  transition: transform 0.7s ease-in-out;
  transform: rotate(360deg);
}

#fish1-text {
  position: absolute;
  top: 15%;
  left: 82%;
}

#fish2-text {
  position: absolute;
  top: 34%;
  left: 80%;
}

#fish3-text {
  position: absolute;
  top: 65%;
  left: 76%;
}

#fish4-text {
  position: absolute;
  top: 90%;
  left: 80%;
}

#fish5-text {
  position: absolute;
  top: 115%;
  left: 78%;
}

#fish6-text {
  position: absolute;
  top: 210%;
  left: 78%;
}

#fish7-text {
  position: absolute;
  top: 255%;
  left: 76%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 9999px; */
  margin: 40px;
}

#down {
  position: absolute;
  bottom: -600%;
}








.click_effect {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 5px solid #ffffff;
  pointer-events: none;
  margin-top: -45px;
  margin-left: -45px;
  border-radius: 50%;
  opacity: 0;
  animation-name: click_animation;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}

@keyframes click_animation {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }

  10% {
    opacity: 1;
    transform: scale(0.2);
  }

  20% {
    opacity: 1;
    transform: scale(0.3);
  }

  30% {
    opacity: 0.9;
    transform: scale(0.4);
  }

  40% {
    opacity: 0.7;
    transform: scale(0.5);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.6);
  }

  60% {
    opacity: 0.3;
    transform: scale(0.7);
  }

  70% {
    opacity: 0.1;
    transform: scale(0.8);
  }

  80% {
    opacity: 0;
    transform: scale(0.9);
  }

  90% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(0.1);
  }
}